<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/style.css">

        <title>Megaconstellations</title>
    </head>
    <body>

        <h1>Mega Constellations - Visibility Predictor</h1>
        <p>This tool allows you to predict the number and brightness of visible satellites from several mega constallation. For details see Lawler, Boley &amp; Rein 2021.<p>
        <form id="form" action="" method="post">
            <p>
            <label for="latitudedrop">Latitude:</label>
            <select name="latitudedrop" id="latitudedrop" oninput="if (this.value!='custom') {this.form.latitudetext.value=this.value; this.form.latitude.value=this.value;}">
                <option value="custom">Custom</option>
                {% for l in latitudes %}
                <option value="{{latitudes[l]|int}}" {{ "selected" if latitudes[l] == latitude }}>{{l}} ({{latitudes[l]|abs|int}}&#176;{{"N" if latitudes[l]>=0 else "S"}})</option>
                {% endfor %}
            </select>
            <input type="range" name="latitude" id="latitudeslider" min="-90" max="90" step="1" value="{{latitude}}" oninput="this.form.latitudetext.value=this.value; this.form.latitudedrop.selectedIndex=0;" />
            <input type="number" name="latitudetext" id="latitudetext" min="-90" max="90" step="1" value="{{latitude}}" oninput="this.form.latitude.value=this.value; this.form.latitudedrop.selectedIndex=0;" />
            </p>
            
            <p>
            <label for="month">Time of year:</label>
            <select name="month" id="month">
                <option value="-3" {% if month==-3 %}selected{% endif %}>December Solstice</option>
                <option value="0" {% if month==0.0 %}selected{% endif %}>Equinox</option>
                <option value="3" {% if month==3 %}selected{% endif %}>June Solstice</option>
            </select>
            </p>
            
            <p>
            <label for="hour">Time of day:</label>
            <select name="hour" id="hour">
                <option value="-3" {% if hour==-3 %}selected{% endif %}>-3 hour before midnight</option>
                <option value="-2" {% if hour==-2 %}selected{% endif %}>-2 hour before midnight</option>
                <option value="-1" {% if hour==-1 %}selected{% endif %}>-1 hour before midnight</option>
                <option value="0" {% if hour==0 %}selected{% endif %}>Midnight</option>
                <option value="1" {% if hour==1 %}selected{% endif %}>1 hour before midnight</option>
                <option value="2" {% if hour==2 %}selected{% endif %}>2 hour before midnight</option>
                <option value="3" {% if hour==3 %}selected{% endif %}>3 hour before midnight</option>
            </select>
            </p>
            
            <p>
            <div class="checkboxlabel">Constellations:</div>
            <div class="checkboxgroup">
            {% for k in constellations %}
            <input type="checkbox" name="constellation" value="{{ k }}" {% if k in enabled_constellations %}checked{% endif %} >{{ k }} ({{ constellations[k].N-1 }})<br>
            {% endfor %}
            </div>
            </p>

            <p>
            <label for="albedo">Albedo:</label>
            <input type="range" name="albedo" id="albedo" min="0" max="1" step="0.01" value="{{albedo}}" oninput="this.form.albedotext.value=this.value" />
            <input type="number" name="albedotext" id="albedotext" min="0" max="1" step="0.01" value="{{albedo}}" oninput="this.form.albedo.value=this.value" />
            </p>
            <p>
            <label for="area">Effective area (m&sup2;):</label>
            <input type="range" name="area" id="area" min="0" max="20" step="0.1" value="{{area}}" oninput="this.form.areatext.value=this.value" />
            <input type="number" name="areatext" id="areatext" min="0" max="20" step="0.1" value="{{area}}" oninput="this.form.area.value=this.value" />
            </p>


            <!-- <input type="submit", value="Generate plot"> -->
        </form>
        <script>
            $( "#form" ).change(function () {
                            $('#plot').attr('src', '/plot.png?'+$('#form').serialize())
                            })
                .change();
            $( document ).ready(function(){
                            $('#plot').attr('src', '/plot.png?'+$('#form').serialize())
                        });
        </script>

        <img id="plot" src="" />

    </body>
</html>
